.flexbox .column .task {
    padding: 15px 25px;
    cursor: pointer;
    margin-bottom: 15px;
    border: 2px solid black;
    /* border-radius: 10px; */
    background-color: rgb(241, 241, 241);
}

.startDate,
.endDate {
    font-size: 11px;
    color: black;
    width: 50%;
    margin-right: 20px;
    border: 2px solid black;
}

.date {
    margin-right: 0px;
    width: 50%;
}